---
import { CheckoutForm } from "~/components/CheckoutForm";
import Layout from "~/layouts/Layout.astro";
---
<Layout title="Захиалга · Plugged">
  <main id="main-content" tabindex="-1" class="min-h-[calc(100vh-66px)] px-[max(0.75rem,3vw)] pt-[clamp(1rem,4vw,4rem)] pb-28 [background:url('/textures/paper-grain.avif')_repeat,var(--color-paper)] [background-blend-mode:multiply] max-md:px-3">
    <CheckoutForm client:only="solid-js" />
  </main>
</Layout>
