---
import { CheckoutForm } from "~/components/CheckoutForm";
import Layout from "~/layouts/Layout.astro";
---
<Layout title="Захиалга · Plugged">
  <main id="main-content" tabindex="-1" class="min-h-[calc(100vh-66px)] bg-petrol px-gutter pt-[clamp(1rem,4vw,4rem)] pb-36 text-paper [background-image:url('/textures/paper-grain.avif')] [background-blend-mode:multiply] max-md:px-3">
    <CheckoutForm client:only="solid-js" />
  </main>
</Layout>
