---
import { CheckoutForm } from "~/components/CheckoutForm";
import Layout from "~/layouts/Layout.astro";
---
<Layout title="Захиалга · Plugged">
  <main id="main-content" tabindex="-1" class="min-h-[calc(100vh-66px)] bg-petrol px-[max(0.75rem,3vw)] pt-[clamp(1.5rem,5vw,4.5rem)] pb-36 [background-image:url('/textures/xerox-dust.webp')] [background-blend-mode:soft-light] max-md:px-3">
    <CheckoutForm client:only="solid-js" />
  </main>
</Layout>
