---
import { CheckoutForm } from "../components/CheckoutForm";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Захиалга · Plugged">
  <main class="checkout-page poster-surface"><CheckoutForm client:load /></main>
</Layout>
